@CHARSET "ISO-8859-1";
body{
background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)),url(Saints-wallpaper-free-download-games-background-saints-logo.jpg);
height:100vh;
background-size:cover;
background-position:center;
}
.AdminHomePage
{
postion:relative;
width:auto;
margin:auto;
}
h3
{
color:white;
text-align:center;
text-decoration: underline;
font-size:40px;
letter-spacing: 3px;
word-spacing: 10px;
text-shadow: 3px 2px red;
width:100%;
margin:0px 0px 0px;
}
.Tools
{
position:relative;
z-index:1;
background:transparent;
margin:30px auto 0;
padding-right:0px;
text-align:center;
width:auto;
}
.Tools button 
{
font-family:"Roboto",sans-serif;
text-transform:uppercase;
outline:0;
width:8%;
border:0;
padding:15px;
font-size:12px;
cursor:pointer;
margin:10px 9px auto;
}
.Tools .red
{
background:#f44336;
color:#FFFFFF;
}
.Tools .blue
{
background:#008CBA;
color:#FFFFFF;
}
.Tools .green
{
background:#4CAF50;
color:#FFFFFF;
}
}
.Tools .gray
{
background:#e7e7e7;
color:#FFFFFF;
}
